body{
  background-color: #161f1b;
}
.bg-green{
  background-color: #09130e;
}
.color-white{
  color: white;
}
.carousel-item{
  height:85vh;
}
.carousel-item img{
    object-fit: cover;
    object-position: center center;
    height:100%;
}
.footer{
  height:20vh;
}
.card{
  height:45vh;
  font-size: 1rem;
  /* margin-bottom:100px; */
}
.card img{
  width: 100%;
  height:30vh;
}
.card-container{
  height:100%;
}
.green-hover:hover{
  color:greenyellow !important;
  cursor:pointer;
}
.profile-grid{
  margin:5vh auto;
  /* margin-bottom: 10vh; */
  font-size:2rem;
  border:2px solid white;
  display: grid;
  /* margin:auto; */
  width:60vw;
  height:70vh;
  /* padding:2.5em; */
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  border-radius:0.4em;
}
.profile-img{
  height: 60%;
  width:60%;
  margin:auto;
  object-position: center center;
  border-radius: 0.50em;
  padding: none;
}
.profile-info{
  margin-top:20%;
  text-align: left;
  /* border:2px solid whiot */
}