body{
  margin:0;
  padding:0;
}
.bg-green{
  background-color: #09130e;
}
.color-white{
  color: white;
}
.carousel-item{
  height:85vh;
}
.carousel-item img{
    object-fit: cover;
    object-position: center center;
    height:100%;
}
.footer{
  height:20vh;
}
.card{
  height:45vh;
  font-size: 1rem;
  border: 2px solid black;
  box-shadow: 4px 4px 4px 4px rgb(179, 177, 177);
  transition:all 0.3s;
}
.card:hover{
  transform:scale(1.1);
  box-shadow: none;
}
.card img{
  height:30vh;
}

.green-hover:hover{
  color:greenyellow !important;
  cursor:pointer;
}
.profile-grid{
  margin:5vh auto;
  /* margin-bottom: 10vh; */
  font-size:2rem;
  border:2px solid white;
  display: grid;
  /* margin:auto; */
  width:60vw;
  /* height:70vh; */
  /* padding:2.5em; */
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  border-radius:0.4em;
}
.profile-img{
  height: 70%;
  width:60%;
  margin:auto;
  object-position: center center;
  border-radius: 0.50em;
  padding: none;
}
.profile-info{
  margin-top:20%;
  text-align: left;
  /* border:2px solid whiot */
}
/* .card-img-top{
  width:100% !important;

} */